body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}
h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}

img {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
h2 {
  margin: 0;
}
i {
  float: left;
}

button:hover {
  filter: brightness(125%);
  color: black;
}

.flexbox-container-patient-checks {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.flexbox-container-patient-info {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}

.flexbox-container-patient-info-inner {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.patient-info {
  border-radius: 10px;
  min-width: fit-content;
  padding: 10px;
  box-shadow: 0px 1px 2px 2px #c0c0c0;
}

.flexbox-patient-detail-box {
  text-align: center;
  display: flex;
}
.patient-detail-box {
  margin: 2px;
  border: 1px solid;
  border-radius: 10px;
  border-width: thin;
  border-color: #1a75ff;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.detail-box-head {
  background-color: #1a75ff;
  margin: 2px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.detail-box-val {
  padding: 5px;
  background-color: #c0c0c0;
  margin: 5px 2px 5px 2px;
}
.care-gap {
  font-size: 3rem;
  border: solid;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
  margin: 5px 30px 5px 30px;
}

.patient-checks div {
  width: 18vw;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 2px solid;
  border-top: 10px solid;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px #c0c0c0;
}

.patient-info-left {
  float: left;
}

.patient-info-right {
  margin-top: 0;
  text-align: left;
  float: right;
}

.patient-info-img-holder {
  position: relative;

  display: inline-block;
  float: left;
}

.change-pic-button {
  position: absolute;
  top: 80%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 0;
  border-radius: 50%;
  padding: 10px;

  background-color: #1a75ff;
  color: white;
}

.screenings {
  margin-left: auto;
  max-width: 20vw;
  box-shadow: 0px 0px 0px 2px #c0c0c0;
}
.screenings h4 {
  text-align: left;
  margin: 0;
  padding: 10px;
}

.screenings p {
  display: inline-block;
}

.editable {
  position: relative;
  border-radius: 10px;
  min-height: 20vh;
  min-width: 15vw;
  margin: 0 10px 0 10px;
  margin-left: 20px;
  padding-top: 0;
  box-shadow: 0px 0px 5px 1px #c0c0c0;
}
.editable h3 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #1a75ff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 2px 2px 10px;
}
.editable p {
  padding: 2px 2px 2px 10px;
  margin-top: 0;
}

.editable-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexbox-1 {
  display: flex;
  justify-content: space-between;
}

.full-content {
  position: relative;
  float: right;
}

.patient-name-box {
  display: flex;
}
.patient-name-box button {
  max-height: 30px;
}

.button-space {
  border: 0;
  border-radius: 15px;
  margin: 0 5px 0 10px;
  padding: 0 15px 0 5px;
  background-color: #1a75ff;
  color: white;
  display: flex;
}

.orange-button {
  background-color: rgb(255, 136, 0);
  margin-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 1px solid white;
  color: white;
}
.orange-button-no-space {
  margin: 0;
  border: 0;
  padding: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(255, 136, 0);
  color: white;
}

/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
/* SIDE BAR WORK!!!! */
.menu-icon-btn {
  width: 25px;
  height: 25px;
}

.header {
  margin: 0;
  background-color: white;
  gap: 1rem;
  align-items: center;
  min-width: 100%;
  padding: 0;
  display: flex;
  box-shadow: 0px 1px 1px 1px #c0c0c0;
}
.header-divs {
  display: flex;
}

.header-divs button {
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: 0 10px 0 10px;
  border: 0;
  border-radius: 50px;
  background-color: #1a75ff;
  color: white;
}
.header-divs button:hover {
  color: black;
}
.header-divs p {
  padding-right: 10px;
}

.ri-menu-line {
  margin: 0;
}

.sidebar {
  position: relative;
  background-color: #1a75ff;
  color: white;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.4s;
}
.sidebar i {
  margin: 0 10px 0 0;
}
.sidebar-open {
  width: 190px;
}

.sidebar li {
  list-style: none;
  padding: 1rem 1rem;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 1rem;
  font-weight: 300;
  margin-left: 0;
}

.sidebar li:hover {
  background-color: white;
  color: black;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.sidebar-items::-webkit-scrollbar-track {
  visibility: hidden;
}
.expander {
  padding: 9px;
  background-color: #1a75ff;
}

/* 
Search box container */
/* 
Search box container */
/* 
Search box container */
/* 
Search box container */
/* 
Search box container */
/* 
Search box container */
/* 
Search box container */

.search-bar {
  background: white;
  display: flex;
  border-radius: 50px;
  border: 1px solid #c0c0c0;
  color: black;
  margin-left: 25px;
  margin-right: 50px;
}

.search-bar input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
}

.select {
  background: #1a75ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  cursor: pointer;
  position: relative;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 0 5px 0 5px;
}

.select img {
  width: 25px;
  height: 25px;
  margin: 0;
}

.select p {
  padding-left: 10px;
}

.open {
  max-height: 300px;
}

.header-end-sec {
  margin-left: auto;
}
.header-end-sec button {
  margin-left: auto;
  border: 1px solid #c0c0c0;
  border-radius: 25px;
  padding: 5px;
  margin: 10px 10px 0 10px;
  zoom: 120%;
}
.header-end-sec button:hover {
  background-color: black;
  color: white;
}

.header-end-sec i {
  margin: 0;
}
.header-end-sec img {
  width: 50px;
  height: 50px;
}

/* IPAD PORTRAIT */
/* IPAD PORTRAIT */
/* IPAD PORTRAIT */
/* IPAD PORTRAIT */
/* IPAD PORTRAIT */

@media only screen and (max-width: 1000px) {
  .editable {
    min-width: 30vw;
    margin-left: 10vw;
  }
  .editable-flex {
    flex-direction: row;
    align-items: center;
  }
  .header-end-sec {
    display: flex;
    zoom: 50%;
  }
  .header-divs {
    zoom: 75%;
  }

  .full-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    zoom: 75%;
    width: 90vw;
  }
  .flexbox-container-patient-info {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
